@charset "utf-8";
/* CSS Document */


body {
  padding-top: 5px;
}
.container{
	padding:0;
}
.well{
	margin-top:5px;
	background: transparent;
	border:0px;
	box-shadow: none;
	padding:5px;
}
.row{
	margin:7px;
	padding:7px;
}

.navbar,.container-fluid,.navbar-header,.h3{
margin-left:5px;
}

.ccfolia{
	width: 1px; height: 1px; opacity: 0;
	overflow: auto;
}
